<div class="header-app">

  <h1>Bienvenido a mi app {{appname}}</h1>
</div>

<div class="buttons-list">
  <button mat-raised-button color="primary" (click)="addProduct(product)" class="myButton" *ngFor="let product of products" >
    {{product.name}}    {{product.price}}
  </button>
  <form method="get" [formGroup]="this.ordersService.myForm" (ngSubmit)="onSubmit()" >
     <table class="table table-light">

        <tr>
          <td>
            <mat-form-field>
              <input #orderNumber matInput  type="number" required placeholder="Order Number"
                maxlength="3"
                formControlName="orderNumber"
                >
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input #orderNumber matInput  type="text" required placeholder="Customers" maxlength="13"
              formControlName="customerName">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button color="warn" type="submit" id="" class="btn-send">Send</button>
          </td>
        </tr>
      </table>
    </form>
</div>
<div class="orders">
  <ul *ngFor="let order of arrayTempProducts" >
    <li>
      {{order}}
    </li>
    <a href="#" (click)="deleteorderTemp(order)">
      <mat-icon>delete</mat-icon>
    </a>
  </ul>
</div>

